html,
body,
div,
header,
section,
h1,
a,
button,
span,
img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-fallback;
  background-color: $color-white;
  color: $color-dark;
  position: relative;
  z-index: 1;
}

body:has(.header__checkbox:checked) {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 120px;
  width: 100%;

  @media (max-width: 768px) {
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
