$color-white: #fff;
$color-dark: #1b2129;
$color-dark-active: #010810;
$color-orange: #f98921;
$color-gray-bg: #f9f9f9;
$color-timeless-bg: #fdfbf8;
$color-input-bg: #f1eff0;
$color-input-focus: #e6e4e5;
$color-border-hover: #dbdbdb;
$color-placeholder: #7e7e83;
$color-label: #9393a3;
$font-main: 'Manrope', sans-serif;
$font-fallback: sans-serif;
